<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
       <%= render "shared/navbar" %>
      <div class="card-text">
          <h1> Country recipes </h1>
      </div>
    </div>


<div class="global-container">
    <div class="container-radius">
              <p> <strong>Sort by</strong> </p>
    <div class="recipes-cards">
          <% @recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe.id) do %>
            <div class="card-product">
              <%= image_tag "logo.jpg" %>
              <div class="card-product-infos">
                <h2><%= recipe.name %></h2>
                <p><%= recipe.time %></p>
                <p><%= recipe.address %></p>
              </div>
            </div>
            <% end %>
          <% end %>
    </div>
    </div>
        <%= link_to "Homepage", choices_path%>
</div>
