<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
       <%= render "shared/navbar" %>
      <div class="card-text">
          <h1><%= Country recipes %></h1>
      </div>
    </div>


<p>Sort by</p>

<% @recipes.each do |recipe| %>
  <ul>
    <li>
      <%= recipe.name %>
      <%= recipe.time %>
      <%= recipe.address %>
    </li>
  </ul>
<% end %>
