<div class="global-container">

<div class="container-radius" data-controller="reveal-infos">
        <div class="dropdown-center recipe-show-display" data-reveal-infos-target="infos">
          <button type="button" class="dropdown-toggle recipe-show" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->reveal-infos#displayInfos">
            Ingredients
          </button>
          <ul class="dropdown-menu ul-recipe">
            <%# <a class="dropdown-item" href="#">Ingredients List</a> %>
              <% @ingredients.each do |ingredient| %>
                  <li>
                    <%= ingredient.name %>
                  </li>
              <% end %>
           </ul>
           </div>

        <div class="dropdown-center recipe-show-display" data-reveal-infos-target="infos">
          <button type="button" class="dropdown-toggle recipe-show" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->reveal-infos#displayInfos">
            Instructions
          </button>
          <ul class="dropdown-menu ul-recipe">
            <%# <li><a class="dropdown-item" href="#">Recipe description</a></li> %>
            <p><%= @recipe.description %></p>
          </ul>
        </div>

        <div class="dropdown-center recipe-show-display" data-reveal-infos-target="infos">
          <button type="button" class="dropdown-toggle recipe-show" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->reveal-infos#displayInfos">
            Links
          </button>
          <ul class="dropdown-menu ul-recipe">
           <li> <a class="dropdown-item" href="#">Link youtube</a></li>
            <p><%= @recipe.link %></p>
          </ul>
        </div>
    </div>
      <%= link_to "Add to favorite", recipe_add_path(@recipe)  %>
      <%= link_to "Homepage", choices_path%>
</div>
<%= render "shared/background", model: @recipe %>
