<h1>Recipe Name <%= @recipe.name %></h1>

<h3>Ingredients</h3>
<% @ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>
<% end %>


<h3>Recipe</h3>
<p><%= @recipe.description %></p>

<h3>Links</h3>
<p><%= @recipe.link %></p>

<%= link_to "Add to favorite", recipe_add_path(@recipe)  %>

<%= link_to "Homepage", choices_path%>
