<div class="global-container">

  <div class="container-radius recipe-show-display" data-controller="reveal-infos">
  <% @country %>

    <div  class= "recipe-show">
      <div class="icone-p" data-element="ingredients" data-action="click->reveal-infos#displayCard" data-reveal-infos-target="container1">
        <i class="fa-solid fa-plus" data-element="ingredients" data-reveal-infos-target="icon1"></i>
        <p data-element="ingredients">Ingredients</p>
      </div>
      <div class= "d-none" id="ingredients">
        <% @ingredients.each do |ingredient| %>
          <p>
            <%= ingredient.name %>
          </p>
        <% end %>
        </div>
    </div>

    <div class="recipe-show">
      <div class="icone-p" data-element="instructions" data-action="click->reveal-infos#displayCard" data-reveal-infos-target="container2">
        <i class="fa-solid fa-plus" data-element="instructions" data-reveal-infos-target="icon2"></i>
        <p data-element="instructions">Instructions</p>
      </div>
      <div class="d-none" id="instructions">
      <%= @recipe.description %>
      </div>
    </div>

    <div class="recipe-show">
      <div class="icone-p" data-element="link" data-action="click->reveal-infos#displayCard" data-reveal-infos-target="container3">
        <i class="fa-solid fa-plus" data-element="link" data-reveal-infos-target="icon3"></i>
        <p data-element="link">Link</p>
      </div>
      <div class="d-none" id="link">
        <a class="dropdown-item" href="#">Link youtube</a>
      </div>
    </div>

  </div>
  <%= link_to "Add to favorite", recipe_add_path(@recipe), class: "recipe-show-button" %>
  <a class="recipe-show-button" href="/recipes?country=<%= params[:country] %>">Go to Recipes</a>
  <a class="recipe-show-button" href="/choices?country=<%= params[:country] %>">Menu</a>
</div>
<%= render "shared/background", model: @recipe %>
