<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
       <%= render "shared/navbar" %>
      <div class="card-text">
          <h2> Welcome to </h2>
          <h1> Your Country </h1>
      </div>
    </div>

  <div class="global-container">
    <div class="container-radius">

        <div data-controller="choice-button">

          <div id="choice-buttons">
            <div id="recipe-button">
              <p data-action="click->choice-button#clicked" data-choice-button-target="recipesbutton">recipes</p>
            </div>
            <div id="restaurant-button">
              <p data-action="click->choice-button#clicked" data-choice-button-target="restaurantsbutton">Restaurants</p>
            </div>
          </div>


          <div class="cards-recipes">

            <div class="cards-recipes-1">
              <% @recipes.first(10).each do |recipe| %>
                <div class="card-recipe1" data-choice-button-target="recipes">
                      <div class="card-recipe">
                        <%= image_tag recipe.image_url, alt: 'Recipe Image', class: "card-image" %>
                        <div class="card-name">
                          <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
                        </div>
                      </div>
                </div>
              <% end %>
            </div>

            <div class="cards-recipes-2">
              <% @recipes.last(10).each do |recipe| %>
                <div class="card-recipe2" data-choice-button-target="recipes">
                      <div class="card-recipe">
                        <%= image_tag recipe.image_url, alt: 'Recipe Image', class: "card-image" %>
                        <div class="card-name">
                          <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
                        </div>
                      </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= link_to "See more", recipes_path %>


          <div class="cards-recipes">
            <div class="cards-recipes-2">
              <% @restaurants.first(10).each do |restaurant| %>
                <div class="d-none" data-choice-button-target="restaurants">
                  <div class="card-recipe">
                    <%#= image a definir %>
                    <div class="card-name">
                      <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
                    </div>
                  </div>
              </div>
            <% end %>
            </div>


           <div class="cards-recipes-2">
              <% @restaurants.last(10).each do |restaurant| %>
                <div class="d-none" data-choice-button-target="restaurants">
                  <div class="card-recipe">
                    <%#= image a definir %>
                    <div class="card-name">
                      <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
                    </div>
                  </div>
              </div>
            <% end %>
            </div>
          </div>
            <%= link_to "See more", restaurants_path %>
        </div>

    </div>
  </div>
</div>
