<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
  <div class="global-container">
    <div class="container-radius">

        <div data-controller="choice-button">

          <div id="choice-buttons">
            <div id="recipe-button">
              <p data-action="click->choice-button#clicked" data-choice-button-target="recipesbutton">Recipes</p>
            </div>
            <div id="restaurant-button">
              <p data-action="click->choice-button#clicked" data-choice-button-target="restaurantsbutton">Restaurants</p>
            </div>
          </div>


          <div class="cards-recipes" data-choice-button-target="recipes">

            <div class="cards-recipes-1">
              <% @recipes.first(10).each do |recipe| %>
                <div class="card-recipe1">
                      <div class="card-recipe">
                        <% if recipe.image_url != nil %>
                        <%= image_tag recipe.image_url, alt: 'Recipe Image', class: "card-image" %>
                        <% else %>
                        <img src="https://source.unsplash.com/random/?recipe" class="card-img-top" alt="image">
                        <% end %>
                        <div class="card-name">
                          <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
                        </div>
                      </div>
                </div>
              <% end %>
            </div>

            <div class="cards-recipes-2">
              <% @recipes.last(10).each do |recipe| %>
                <div class="card-recipe2" >
                      <div class="card-recipe">
                        <% if recipe.image_url != nil %>
                        <%= image_tag recipe.image_url, alt: 'Recipe Image', class: "card-image" %>
                        <% else %>
                        <img src="https://source.unsplash.com/random/?recipe" class="card-image" alt="image">
                        <% end %>
                        <div class="card-name">
                          <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
                        </div>
                      </div>
                </div>
              <% end %>
            </div>
          </div>



          <div class="cards-restaurants d-none" data-choice-button-target="restaurants">

            <div class="cards-restaurants-1">
              <% @restaurants.first(10).each do |restaurant| %>
                <div class="card-restaurant1">
                  <div class="card-restaurant">
                    <% if restaurant.image_url != nil %>
                    <%= image_tag restaurant.image_url, alt: 'Restaurant Image', class: "card-image" %>
                    <% else %>
                    <img src="https://source.unsplash.com/random/?restaurant" class="card-image" alt="image">
                    <% end %>
                    <div class="card-name">
                      <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
                    </div>
                  </div>
              </div>
            <% end %>
            </div>


           <div class="cards-restaurants-2">
              <% @restaurants.last(10).each do |restaurant| %>
                <div class="card-restaurant2">
                  <div class="card-restaurant">
                    <% if restaurant.image_url != nil  %>
                    <%= image_tag restaurant.image_url, alt: 'Restaurant Image', class: "card-image" %>
                    <% else %>
                    <img src="https://source.unsplash.com/random/?restaurant" class="card-image" alt="image">
                    <% end %>
                    <div class="card-name">
                      <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
                    </div>
                  </div>
              </div>
            <% end %>
            </div>
          </div>
          <%= link_to "See more", recipes_path, data: { choice_button_target: "recipeslink" }, class: "button-sample" %>
          <%= link_to "See more", restaurants_path, data: {choice_button_target: "restaurantslink" }, class: "d-none button-sample" %>
        </div>

    </div>
  </div>
  <%= render "shared/navbar" %>
  <div class="card-text">
    <h2 class= "title-choice"> Welcome to </h2>
    <h1> COUNTRY </h1>
  </div>
</div>
