<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
  <%= render "shared/navbar" %>
  <div class="card-text">
    <h1>Dashboard</h1>
  </div>
  <div class="global-container">
    <div class="container-radius">
        <div class="menu-dash">
          <a class="recipe-show-button" href="/choices?country=<%= params[:country] %>">Menu</a>
        </div>
      <div class="button-information-dash">
          <ul>
          <p><strong>Information</strong></p>
          <li>Email: <%= @user.email %></li>
          </ul>
      </div>

                <div  class= "form-dash" data-controller="form-dashboard">
                  <div class="icone-p" data-action="click->form-dashboard#displayForm" data-form-dashboard-target="container2" >
                    <i class="fa-solid fa-plus" data-form-dashboard-target="icon2"></i>
                    <p><strong>Suggestions</strong></p>
                  </div>
                  <div class="proposed-form d-none" data-form-dashboard-target="form">
                      <p><strong>Propose a Recipe or Restaurant</strong><p>
                      <form>
                        <div class="form-group">
                          <label for="proposal_name">Name:</label>
                          <input type="text" id="proposal_name" name="proposal_name" class="form-control">
                        </div>
                        <div class="form-group mt-3">
                          <label for="proposal_description">Description:</label>
                          <textarea id="proposal_description" name="proposal_description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="button-sample-dashform">Submit</button>
                        </div>
                      </form>

                  </div>
                </div>


          <div class="favorite-recipes">
            <p><strong>Favorite Recipes :</strong></p>
          </div>


      <div class="cards-recipes-dash">
        <div class="cards-recipes-1">
          <% @favorite_recipes.each do |favorite_recipe| %>
            <% recipe = favorite_recipe.recipe %>
            <div class="card-recipe1">
              <div class="card-recipe">
                <%= link_to recipe_path(recipe.id) do %>
                <% if recipe.image_url != nil %>
                <%= image_tag recipe.image_url, alt: 'Recipe Image', class: "card-image" %>
                <% else %>
                <img src="https://source.unsplash.com/random/?recipe" class="card-img-top" alt="image">
                <% end %>
                <% end %>
                <div class="card-name">
                  <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
                  <%= link_to recipe_delete_path(favorite_recipe.id) do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
