<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
  <%= render "shared/navbar" %>
  <div class="card-text">
    <h1>Restaurants </h1>
  </div>

  <div class="global-container" >
    <div class="container-radius" data-controller="sticky-container" data-action="scroll@window->sticky-container#updateSticky"> <!--  data-sticky-container-target="sticky" -->
      <%# <p><strong>Sort by</strong></p> %>


       <div class="col-sm-8 my-3">
          <%= form_with url: restaurants_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= hidden_field_tag 'country', params[:country] %>
            <%= submit_tag "Search", name: "", class: "search-color" %>
          <% end %>
        </div>


      <%# MAPBOX MAP %>
      <div class="map" style="width: 100%; height: 40vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%# MAPBOX MAP %>
      <div class="restaurants-cards" data-sticky-container-target="scrolling">
        <% @restaurants_per_country.each do |restaurant| %>
          <% if restaurant.id.odd? %>
            <%= link_to restaurant_path(restaurant.id) do %>
              <div class="card-product-restaurant-green">
                <%= image_tag restaurant.image_url %>
                <div class="card-product-infos-restaurant-green">
                  <h2><%= restaurant.name.upcase %></h2>
                  <p><%= restaurant.address %></p>
                </div>

              </div>
            <% end %>
            <% else %>
              <%= link_to restaurant_path(restaurant.id) do %>
              <div class="card-product-restaurant-green">
                <%= image_tag restaurant.image_url %>
                <div class="card-product-infos-restaurant-green">
                  <h2><%= restaurant.name.upcase %></h2>
                  <p><%= restaurant.address %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="button-sample-home">
        <a class="dropdown-item" href="/choices?country=<%= params[:country] %>">Menu</a>
      </div>
   </div>
  </div>
  </div>

</div>
