<div class="cards-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://kitt.lewagon.com/placeholder/cities/marseille);">
  <%= render "shared/navbar" %>
  <div class="card-text">
    <h1>Restaurants in</h1>
    <h1><%= @selected_country %></h1>
  </div>

  <div class="global-container" >
    <div class="container-radius" data-controller="sticky-container" data-action="scroll@window->sticky-container#updateSticky"> <!--  data-sticky-container-target="sticky" -->
      <%# <p><strong>Sort by</strong></p> %>
       <div class="col-sm-8 my-3">
          <%= form_with url: restaurants_path, method: :get, class: "d-flex" do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #02595a;"></i>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword",
                  id: "autoComplete",
                  data: {searchable: @restaurants_name}
              %>
            <%= hidden_field_tag 'country', params[:country] %>
            <%= submit_tag "Search", name: "", class: "search-color" %>
          <% end %>
        </div>


      <%# MAPBOX MAP %>
      <div class="map" style="width: 100%; height: 40vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%# MAPBOX MAP %>
      <div class="restaurants-cards" data-sticky-container-target="scrolling">
        <% @restaurants_per_country.each do |restaurant| %>
          <% if restaurant.id.odd? %>
            <%= link_to restaurant_path(restaurant.id) do %>
              <div class="card-product-restaurant-green">
                <%= image_tag restaurant.image_url %>
                <div class="card-product-infos-restaurant-green">
                  <h2><%= restaurant.name.upcase %></h2>
                  <p><%= restaurant.address %></p>
                </div>

              </div>
            <% end %>
            <% else %>
              <%= link_to restaurant_path(restaurant.id) do %>
              <div class="card-product-restaurant-green">
                <%= image_tag restaurant.image_url %>
                <div class="card-product-infos-restaurant-green">
                  <h2><%= restaurant.name.upcase %></h2>
                  <p><%= restaurant.address %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="button-sample-home">
        <a class="dropdown-item" href="/choices?country=<%= params[:country] %>">Menu</a>
      </div>
   </div>
  </div>
  </div>

</div>


<script>
      let searchableItems = JSON.parse(document.querySelector('#autoComplete').dataset.searchable);
        const autoCompleteJS = new autoComplete({
 selector: "#autoComplete",
            placeHolder: "Search for Food...",
            data: {
                src: searchableItems,
                cache: true,
            },
            resultsList: {
                element: (list, data) => {
                    if (!data.results.length) {
                        // Create "No Results" message element
                        const message = document.createElement("div");
                        // Add class to the created element
                        message.setAttribute("class", "no_result");
                        // Add message text content
                        message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                        // Append message element to the results list
                        list.prepend(message);
                    }
                },
            },
            resultItem: {
                highlight: true
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection;
                    }
                }
            }
         });
    </script>
