
<div class="global-container">
  <div class="container-radius" data-controller="restaurant-infos">
    <div class="restaurants-button">
      <div class="restaurant-prices restaurant-p">
        <div class="restaurant-prices-p">
          <p><strong>Price : <i class="fa-solid fa-euro-sign"></i>
                             <i class="fa-solid fa-euro-sign"></i>
                             <i class="fa-solid fa-euro-sign"></i></strong></p>
        </div>
        <div class="price-signs">

        </div>
      </div>
      <div class="restaurant-p">
        <div class="restaurant-services icone-p" data-restaurant-infos-target="container1">
          <i class="fa-solid fa-plus" data-element="ingredients" data-restaurant-infos-target="icon1"></i>
          <p data-action="click->restaurant-infos#displayInfos"><strong>Services</strong></p>
        </div>
        <div class="d-none mt-2" id="services" data-restaurant-infos-target="services">
          <p>Dine-in</p>
          <p>Take Away</p>
          <p>Delivery</p>
        </div>
      </div>
    </div>


        <%# MAPBOX MAP %>

    <div class="map" style="width: 100%; height: 40vh;"
        data-controller="map2"
        data-map2-marker-value="<%= @marker.to_json %>"
        data-map2-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

        <%# MAPBOX MAP %>

    <div class="address-resto restaurant-show">
      <p><%= @restaurant.address %></p>
    </div>

  </div>
  <a class="restaurant-show-button" href="/restaurants?country=<%= params[:country] %>">Go to Restaurants</a>
  <a class="restaurant-show-button" href="/choices?country=<%= params[:country] %>">Menu</a>

</div>

<%= render "shared/background", model: @restaurant %>
