<%= render "shared/background", model: @restaurant %>


<div class="global-container">
    <div class="container-radius">
        <p>Price</p>
        <p>Services</p>

        <%# MAPBOX MAP %>

            <div class="map" style="width: 100%; height: 40vh;"
                data-controller="map2"
                data-map2-marker-value="<%= @marker.to_json %>"
                data-map2-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>

        <%# MAPBOX MAP %>

              <div class="address-resto">
                      <p><%= @restaurant.address %></p>
              </div>

    </div>
        <%= link_to "Homepage", choices_path%>
</div>
